* { 
    box-sizing: border-box; 
}
body {
    background-color: #FFFFFF;
    color: #666666;
    font-family: Arial, sans-serif;
    background-image: linear-gradient(to bottom,#eeeeee,#FFFFFF);
    background-attachment: fixed;
    margin: 0;
}
header {
    background-color: #003058;
    color: #FFFFFF;
    font-family: Georgia, sans-serif;
} 
h1{
    background-image: url(utahtechimages/utahtechlogo.svg);
    background-position: right;
    background-repeat: no-repeat;
    padding-left: 1rem;
    background-origin: content-box;
    margin-bottom: 0;
}
header h1 {
    line-height: 140%; 
    padding: 0.5rem;
}
nav {
    font-weight: bold;
    background-color: #F3F3F3;
    padding-top: 0.5rem;
    padding-right: 0.5 rem;
    padding-bottom: 0.5rem;
    padding-left: 2rem;
    nav a { text-decoration: none; }
}
main{
    padding-left: 2rem;
    padding-right: 2rem;
}
h2 {
    color: #424242;
    font-family: Georgia;
}
h3{
    color: #003058;
}
dt {
    color: #003058;
    font-weight: bold;
}
.ut {
    color: #BA1C21;
    font-weight: bold;
}
footer {
    font-size: 0.70rem;
    font-style:italic;
    text-align: center;
    padding: 1rem;
}
#wrapper {
display:grid;
}
#homehero {
    height: 300px;
    background-image: url(utahtechimages/homehero.jpg);
    background-size: cover;
    background-repeat: no repeat;
    background-position: center;
}
#studenthero{
    height: 300px;
    background-image: url(utahtechimages/studenthero.jpg);
    background-size: cover;
    background-repeat: no repeat;
    background-position: center;
}
#facultyhero{
    height: 300px;
    background-image: url(utahtechimages/facultyhero.jpg);
    background-size: cover;
    background-repeat: no repeat;
    background-position: center;
}