.grid-container {
    display: grid;
    grid-template-columns: minmax(0px, 1fr) repeat(6, minmax(0, 175px)) minmax(0px, 1fr);
    gap: 10px;
}

/* Give each section a color so you can see it */

header {
   background-image: url(images/redrock.JPG);
   background-position:50% 70%;
   background-size: cover;
   background-repeat: no-repeat;
    grid-column: 2 / 8;
    height: 200px;
}

nav {
    background-color: #cccccb;
    grid-column: 2 / 8;
    
}

.nav {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}
.nav ul {
  display: flex;
  align-items: center;
}
.nav li {
  width: 100%;
}

.nav a {
  text-decoration: none;
  color: black;
  padding: 10px;
  display: inline-block;
  width: 100%;
  text-align: center;
}

main {
    background-color: white;
    grid-column: 2 / 6;
    height: 300px;
    border: 1px solid black;
    padding: 15px;
}

footer {
    background-color: #353535;
    grid-column: 2 / 8;
    height: 80px;
}